Repository googleapis/nodejs-pubsub, pull requests merged in 2022-05, with the labels that each got.

#1544 tests: factor out resource management from sample system tests
  samples/system-test/openTelemetryTracing.test.ts
  samples/system-test/quickstart.test.ts
  samples/system-test/schema.test.ts
  samples/system-test/subscriptions.test.ts
  samples/system-test/testResources.test.ts
  samples/system-test/testResources.ts
  samples/system-test/topics.test.ts
Labels: api: pubsub, samples, size: xl

#1560 docs: fix #1559 publishMessage return type documentation
  src/topic.ts
Labels: api: pubsub, automerge: exact, size: xs

#1564 build!: update library to use Node 12
  .github/sync-repo-settings.yaml
  .github/workflows/ci.yaml
  .kokoro/continuous/node10/common.cfg
  .kokoro/continuous/node10/docs.cfg
  .kokoro/continuous/node10/test.cfg
  .kokoro/continuous/node8/common.cfg
  .kokoro/continuous/node8/test.cfg
  .kokoro/presubmit/node10/common.cfg
  .kokoro/presubmit/node10/docs.cfg
  .kokoro/presubmit/node10/lint.cfg
  .kokoro/presubmit/node10/test.cfg
  .kokoro/presubmit/node8/common.cfg
  .kokoro/presubmit/node8/test.cfg
  package.json
  samples/package.json
  src/message-queues.ts
  test/pubsub.ts
  test/subscription.ts
  test/topic.ts
Labels: api: pubsub, size: l

#1561 fix: detect subscription properties and warn for exactly-once
  src/subscriber.ts
  src/util.ts
  test/util.ts
Labels: api: pubsub, size: m
